@import "tailwindcss";
@import "@material-design-icons/font/filled.css";

@layer base {
  * {
    @apply select-none;
  }

  button {
    cursor: pointer;
  }

  input {
    outline: none;
    border: 1px solid #dcdcdc;
  }

  input::placeholder {
    color: #a3a3a3;
    font-size: 16px;
  }
}

@theme {
  --color-grey-bg: #F5F5F5;
  --color-blue-bg: #179bbb
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #cac8c6;
}

::-webkit-scrollbar-track {
    background-color: white;
    margin: 3px 0 2px;
}

